body{
background-color: #0d0d0d;
margin:0;
padding:0;
}


#Quadrado {  border: 1px solid black;
background-color: white;
width:700px;
height: 400px;
margin-left: 10%
}


#legenda{ font-family:  'Prompt', sans-serif;
color: white;
font-size: 50px;
margin-left: -1000px ;
}
        
#cor{
color:#6666ff;
}


#txt1{
font-family:  'Prompt', sans-serif;
font-size: 30px;
color: #0d0d0d;
}


.txt2{
font-family:  'Prompt', sans-serif;    
font-size: 20px;
color: #0d0d0d; 
margin-left:30px;    
}



#txt3{
font-family:  'Prompt', sans-serif;
color: #0d0d0d; 
font-size: 20px;
margin-left:30px;
}

#img5{
width:700px;
height:700px;
margin-left: 1050px;
margin-top: -550px;   
}